nav li {
            display:inline-block;
            padding: .5em;

         }

        .nav-item {
            text-decoration: none;
            font-weight: bold;
            transition: .2s;
        }

        .nav-link:hover {
            color: #00d6bd!important;
        }

        #main {
            background-image: url('des_main2.jpg');
            height: 500px;
            background-size: cover;
            background-position: center;
            padding: 150px;
            margin-bottom:50px;
        }

        #main h1 {
            font-size: 950%;
            font-weight: bold;
            font-family: 'Open sans';
            color: white;
            position: absolute;
            text-align: center;
            top: 30%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
        }

        #main p {
            margin-top: 50px;
            margin-left: 50px;
            color: grey;
            width: 70%;
        }

        .btn {
            background-color: #00d6bd;
            border: none;
            margin-left: 50px;
        }

        .btn:hover {
            background-color: grey;
        }

        .container {
            display: flex;
            flex-wrap: wrap;
        }

        h3 {
            color: #00d6bd;
        }

        .box {
            text-align: center;
            border: 1px solid grey;
            width: 200px;
            padding: 20px;
            margin-top: 20px;
            margin-bottom: 50px;
            position: absolute;
            box-shadow: 1px 1px 7px grey;
            transition: .5s;
        }

        .box:hover {
            transform: scale(1.2);
            border: none;
            box-shadow: 1px 1px 10px 7px grey;
        }

        #left-box {
            left: 15%;
        }

        #center-box {
            left: 42%;
        }

        #right-box {
            position: relative!important;
            left: 72%;
        }

        .box-image {
            height: 40px;
            width: 40px;
            }

        .service-box {
            max-width: 100%;
            height: auto;
            text-align: center;
            position: relative;
            transition:.5s;
        }

        .service-box:hover {
            transform: scale(1.1);
            color: #00d6bd;
        }

        .service-image {
            height: 90px;
            width: 90px;
        }

        #service-box1 {
            position: absolute;
            left: 21%;
            width:10%;
        }

       #service-box2 {
            position: absolute;
            left: 37%;
        }

        #service-box3 {
            position: absolute;
            left: 53%;
        }

        #service-box4 {
            position: relative;
            left: 70%;
            width: 10%;
        }

        h6 {
            font-family: Monospace, sans-serif;
            font-weight: bold;
        }

        footer {
            margin-left: 20px;
            position: relative;
            bottom: 0%;
        }
